<web-app xmlns="https://jakarta.ee/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/javaee
         https://jakarta.ee/xml/ns/javaee/web-app_6_1.xsd"
         version="6.1">
    <display-name>Archetype Created Web Application</display-name>
</web-app>
